:root {
  --text-white: #ffffff;
  --governor-bay-50: #edf2ff;
  --governor-bay-100: #dfe6ff;
  --governor-bay-200: #c4d0ff;
  --governor-bay-300: #a1b0ff;
  --governor-bay-400: #7c87fd;
  --governor-bay-500: #5c5ff8;
  --governor-bay-600: #4a3fec;
  --governor-bay-700: #4c40d4;
  --governor-bay-800: #332ba8;
  --governor-bay-900: #2e2a85;
  --governor-bay-950: #1c194d;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
